



<div class="col-md-4" style="display: none;">
    
 <div class="col-md-12" style="padding-top: 5px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px; 
 margin: 0px; width: 100%;">

<ng-select2 style="min-width: 1000px; " [data]="fruitList" [placeholder]="'Please select a fruit...'" >
</ng-select2>
</div>

</div>



     <mat-sidenav-container class="h-100">
 
        <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 20px;">

            <div class="col-md-4 mat-elevation-z6" style="border: 1px solid #ccc; padding: 0px; margin: 0px; height: 100%;">
    
                <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                    <div class="card">
                        <div class="card-header alert alert-info" style="color: #2F2875; font-weight: bold;">
                            <i class="fa fa-align-justify"></i>
                            Update Password
                        </div>
                        <div class="card-body" style="margin-bottom: 0px; padding: 5px;">
            
            
            
            
            
            
                            <div class="col-md-12" style="padding: 0px; margin: 0px;">
            
                                <div class="container-fluid" style="padding: 10px;">
            
            
                                    <form #userForm="ngForm"  *ngIf="!submitted" (ngSubmit)="onSubmit(userForm.value)" novalidate>
            
                                        <div class="form-group">
                                           
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend" style="width: 40%;">
                                                        <span class="input-group-text" style="width: 100%;" id="inputGroup-sizing-sm">New Password <span class="text-danger">*</span></span>
                                                    </div>
                                                    <input type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                                                     #newPassword="ngModel" required class="form-control"
                                                [class.is-invalid]="newPassword.invalid && newPassword.touched" name="newPassword"
                                                [(ngModel)]="userModel.UserPrevPass">
                                                <!-- <small style="width: 100%;" class="text-danger" [class.d-none]="newPassword.valid || newPassword.untouched">Password is required</small> -->
                                                </div>
                                        </div>
        
        
        
                                        <div class="form-group">
                                           
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend" style="width: 40%;">
                                                    <span class="input-group-text" style="width: 100%;" id="inputGroup-sizing-sm">Confirm Password <span class="text-danger">*</span></span>
                                                </div>
                                                <input id="confPassword" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                                                 #confPassword="ngModel" required class="form-control"
                                            [class.is-invalid]="confPassword.invalid && confPassword.touched" name="confPassword"
                                            [(ngModel)]="userModel.UserPassw" pattern="{{ newPassword.value }}">
                                            
                                            <!-- <small style="width: 100%;" class="text-danger" [class.d-none]="confPassword.valid || confPassword.untouched">Password doesn't matched</small> -->
                                            </div>
                                    </div>
        
        
        
            
                                        <!-- <div class="form-group">
                                            <label>Email</label> <span class="text-danger">*</span>
                                            <input autocomplete="doNotAutoComplete" type="email" #email="ngModel" required
                                                class="form-control" [class.is-invalid]="email.invalid && email.touched"
                                                name="email" [(ngModel)]="userModel.email">
                                            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is
                                                required</small>
                                        </div> -->
            
                                      
            
                                        <!-- <button class="btn btn-primary" [disabled]="userForm.form.invalid || topicHasError" type="submit">Submit form</button> -->
                                        <button class="btn btn-primary mat-elevation-z6 w-100 " [disabled]="userForm.form.invalid "
                                          style=" margin: 0px;"  type="submit">Update Password</button>
            
                                    </form>
            
                                </div>
            
                            </div>
            
                        </div>
                    </div>
                </div>
            
            </div>
         </div>
    































    <div class="col-md-4">
    
    
    
       
    
    
    
    
    
    </div>














     
    
    </mat-sidenav-container>
 

 <!-- <select id="test" class="selectpicker" data-live-search="true">
                    <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                    <option data-tokens="mustard">Burger, Shake and a Smile</option>
                    <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                </select> -->